#demo {
    position: relative;
    background: url(../img/banner2.jpg) no-repeat;
    @extend .banner;
    h1 {
        color: $white;
        text-transform: uppercase;
    }
    p {
        color: $yellow;
        font-size: 25px;
    }
    .mouse-container {
        position: absolute;
        bottom: 35px;
        left: 0;
        text-align: center;
        width: 100%;
        img {
            height: 30px;
            cursor: pointer;
        }
    }
}

#offer {
    background: $white-2;
    h4 {
        padding-bottom: .9rem;
    }
    .fas {
        font-size: 50px;
        padding-right: 1rem;
        color: $green;
    }
}

#expertise {
    .progress-wrap {
        padding: 1.2rem 0;
        .progress {
            height: 2px;
            font-size: 8px;
            border-radius: 0;
            .progress-bar {
                background-color: $black-5;
            }
        }
        .content {
            width: 90%;
            position: relative;
            .percent {
                right: 0;
            }
            p {
                position: absolute;
            }
        }
    }
}

#offer {
    padding: 10rem 0;
}

#expertise {
    padding: 5rem 0;
}

#magic-section {
    img {
        position: relative;
        top: 3px;
    }
}