.logo {
    width: 30px;
    height: 30px;
    border: 3px solid $green;
    border-radius: 50px;
}

.line {
    &::before {
        content: '';
        background: $yellow;
        position: absolute;
        width: 100px;
        height: 3px;
        bottom: -15px;
    }
}

.banner {
    text-align: center;
    color: $white;
    background-size: cover !important;
    height: 70vh;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.line-hover {
    &::after {
        content: '';
        background: $yellow;
        height: 2px;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: -15px;
        width: 0;
        transition: .5s;
    }
    &:hover {
        &::after {
            width: 100%;
        }
        color: $yellow;
        text-decoration: none;
    }
}