@media (max-width: 991px) {
    #info {
        padding: 7em 2em 1em 2em !important;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #contact-us {
        h3 {
            margin-bottom: .5em !important;
        }
    }
    #info {
        margin-top: 4em;
        .col-md-7 {
            max-width: 100% !important;
        }
    }
    .notfound .notfound-404 {
        height: 200px;
    }
    .notfound .notfound-404 h1 {
        font-size: 200px;
    }
}

@media (max-width: 767.98px) {
    header {
        height: 80px;
        .brand-logo {
            height: 80px;
            width: 80px;
        }
    }
    // about
    #our-mission {
        padding-top: 3rem;
    }
    #about-us {
        padding: 3rem 0;
        img {
            padding-top: 3rem;
        }
    }
    .btn-1 {
        margin-top: 2rem;
    }
    #how-can-we-help {
        padding-bottom: 3rem;
    }
    // contact
    #contact-us {
        padding: 3rem 0;
    }
    #contact-form {
        padding-bottom: 3rem;
    }
    // footer
    #footer-bg {
        padding: 5rem 0;
        .footer-nav {
            display: block !important;
            text-align: center;
            a {
                cursor: pointer;
            }
        }
    }
    // home
    #offer {
        .col-lg-4 {
            display: block !important;
            text-align: center;
            .fas {
                padding-bottom: .8em;
            }
        }
    }
    #offer,
    #expertise {
        padding: 3rem 0;
    }
    #offer .col-lg-4:not(:last-child) {
        padding-bottom: 3rem;
    }
    #expertise {
        .progress-wrapper {
            padding-bottom: 3rem;
        }
    }
    #magic-section {
        padding-bottom: 3rem;
        h3 {
            padding-top: 3rem;
        }
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 162px;
    }
    .notfound .notfound-404 h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }
    .notfound h2 {
        font-size: 16px;
    }
}