// bootstrap overide font and icon colors
$primary-color: #444;
$secondary-color: #eece1a;
$white: #fff;
$white-2: #f6f8fa;
$black-1: #000;
$black-2: #242121;
$black-3: #373a39;
$black-4: #b1acac;
$black-5: #bcbfbe;
$yellow: #eece1a;
$green: #00b2a0;
//font family;
$work-sans: 'Work Sans',
sans-serif;